{% extends "base.html" %} {% block title %}Home{% endblock %} 


{% block content %}

<style>
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .button {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  /* Custom styles for the buttons */
  .btn-primary {
    background-color: #f7f7f7;
    border-color: #3B444B;
    border-width: 2px;
    color: #3B444B; 
  }

  .btn-primary:hover {
    background-color: #f7f7f7;
    border-color: #0062cc;
    color: #3B444B; 
  }

  .btn-danger {
    background-color: #f7f7f7;
    border-color: #3B444B;
    border-width: 2px;
    color: #3B444B; 
  }

  .btn-danger:hover {
    background-color: #f7f7f7;
    border-color: #D22B2B;
    color: #3B444B; 

  }

  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }

  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

  .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
  }

  .btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
  }
  
  #camera-container {
    margin-top: 50px;
  }
  
  #camera {
    width: 100%;
    height: 500px;
  }
    .dropdown-toggle {
    background-color: #f7f7f7;
    border-color: #3B444B;
    border-width: 2px;
    color: #3B444B;
  }

  .dropdown-toggle:hover {
    background-color: #f7f7f7;
    border-color: #0062cc;
    color: #3B444B;
  }

  .dropdown-item {
    background-color: #f7f7f7;
    border-color: #3B444B;
    border-width: 2px;
    color: #3B444B;
  }

  .dropdown-item:hover {
    background-color: #f7f7f7;
    border-color: #D22B2B;
    color: #3B444B;
  }
  #iframe-wrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 10px;
  right: 40px;
}

.dropdown-toggle {
  background-color: #f7f7f7;
  border-color: #3B444B;
  border-width: 2px;
  color: #3B444B;
  padding: 5px 10px;
}

.dropdown-toggle:hover {
  background-color: #f7f7f7;
  border-color: #0062cc;
  color: #3B444B;
}

.dropdown-menu {
  border-color: #3B444B;
  border-width: 2px;
}

.dropdown-item {
  background-color: #f7f7f7;
  border-color: #3B444B;
  border-width: 2px;
  color: #3B444B;
}

.dropdown-item:hover {
  background-color: #f7f7f7;
  border-color: #D22B2B;
  color: #3B444B;
}


</style>
<div class="container-fluid">
  <div class="row">

    <!-- Camera Container -->
    <div class="col-md-12" id="camera-container">
      <div class="iframe-wrapper">
        <!--<iframe src={{ camIp }} frameborder="0" allowfullscreen id="camera"></iframe>-->

        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="{{ camIp }}" allowfullscreen></iframe>
        </div>

        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select a Camera
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form method="post">
              <input type="hidden" name="page_uuid" value="{{ page_uuid }}">

              {% if cameraName != False %} <!-- If the cameras shuld show -->
                {% if cameraName[1] >= 1 %} <!-- If there is less than 2 items hide the dropdown-->
                  {% for camera in cameraData %} <!-- Loops over all of the camera rows that is cashed-->
                  
                    {% if camera[4] == 1 %} <!-- if the picture is only supposed to be shown to the admin -->
                      {% if isAdmin == True %} <!-- if the admin is logged in -->
                        <button type="submit" class="dropdown-item" name="camera" value={{ camera[0] }} id={{ camera[0] }}>{{ camera[2] }}</button>
                      {% endif %}
                    {% else %}
                      <button type="submit" class="dropdown-item" name="camera" value={{ camera[0] }} id={{ camera[0] }}>{{ camera[2] }}</button>

                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endif %}
          </div>
        </div>
      </div>
    </div>  


    <!-- Port Container -->
    <div class="col-md-3 float-end">
      <div style="padding-top: 10px;"></div>
      <div class="card">

        <div class="card-header d-flex justify-content-between align-items-center">Port 
          <a href={{ camIp }}>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
            </svg>
          </a>

        </div>
        <div class="card-body"> 
          
          <div class="list-group">
            <form method="post">
              <button class="btn btn-primary button" name="gate" value="open">Åpne port</button>
              <button class="btn btn-danger button" name="gate" value="close">Lukk port</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Misc Container 
    <div class="col-md-3 float-end">
      <div class="card">
        <div class="card-header">Misc</div>
        <div class="card-body"> 
          
          <div class="list-group">
            <form method="post">
              <button class="btn btn-primary button">Lys På</button>
              <button class="btn btn-danger button">Lys Av</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  

  <!--
  <div class="col-md-3 float-end">
    <div class="card">
      <div class="card-header">Informasjon</div>
      <div class="card-body"> 
        
        <p>Oppetid: 12dager</p>
      </div>
    </div>
  </div>-->
</div>

<div style="padding-top: 70vh"></div>

{% endblock %}
