{% extends "base.html" %} {% block title %}Home{% endblock %} 


{% block content %}

<style>
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .button {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  /* Custom styles for the buttons */
  .btn-primary {
    background-color: #f7f7f7;
    border-color: #3B444B;
    border-width: 2px;
    color: #3B444B; 
  }

  .btn-primary:hover {
    background-color: #f7f7f7;
    border-color: #0062cc;
    color: #3B444B; 
  }

  .btn-danger {
    background-color: #f7f7f7;
    border-color: #3B444B;
    border-width: 2px;
    color: #3B444B; 
  }

  .btn-danger:hover {
    background-color: #f7f7f7;
    border-color: #D22B2B;
    color: #3B444B; 

  }

  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }

  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

  .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
  }

  .btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
  }
  
  #camera-container {
    margin-top: 50px;
  }
  
  #camera {
    width: 100%;
    height: 500px;
  }
    .dropdown-toggle {
    background-color: #f7f7f7;
    border-color: #3B444B;
    border-width: 2px;
    color: #3B444B;
  }

  .dropdown-toggle:hover {
    background-color: #f7f7f7;
    border-color: #0062cc;
    color: #3B444B;
  }

  .dropdown-item {
    background-color: #f7f7f7;
    border-color: #3B444B;
    border-width: 2px;
    color: #3B444B;
  }

  .dropdown-item:hover {
    background-color: #f7f7f7;
    border-color: #D22B2B;
    color: #3B444B;
  }
  #iframe-wrapper {
  position: relative;
}

.dropdown {
  /*position: absolute;
  top: 0px;*/
  right: 0px;
}

.dropdown-toggle {
  background-color: #f7f7f7;
  border-color: #3B444B;
  border-width: 2px;
  color: #3B444B;
  padding: 5px 10px;
}

.dropdown-toggle:hover {
  background-color: #f7f7f7;
  border-color: #0062cc;
  color: #3B444B;
}



.dropdown-item {
  background-color: #f7f7f7;
  border-color: #3B444B;
  border-width: 2px;
  color: #3B444B;
}

.dropdown-item:hover {
  background-color: #f7f7f7;
  border-color: #D22B2B;
  color: #3B444B;
}
.margin-right {
        margin-right: 10px;
    }

.dropdown-menu {
    border-color: #3B444B;
    border-width: 2px;
    left: auto; /* Add this line */
    right: 0; /* Add this line */
    transform: translateX(100%); /* Add this line */
  }

  /* Custom CSS for the spacing between dropdowns */
  .dropdown + .dropdown {
    margin-top: 10px;
  }
  .card-body-dropdowns {
    display: flex;
    justify-content: center;
  }


</style>
<div class="container-fluid">
  <div class="row">

    <!-- Camera Container -->
    <div class="col-md-12" id="camera-container">
      <div class="iframe-wrapper">
        <div class="embed-responsive embed-responsive-16by9">
          {% if isRstp == 1 %}
            <!--<iframe class="embed-responsive-item" src="http://127.0.0.1:3389/rtspStream" allowfullscreen></iframe>-->
            <img class="embed-responsive-item" src="/rtspStream">
          {% else %}
            <iframe class="embed-responsive-item" src="{{ camIp }}" allowfullscreen></iframe>
          {% endif %}

          



          

        </div>
      </div>
    </div>  


    <!-- Port Container -->
    {% if gateData != None and gateData != False %} <!-- IF THERE IS ANY GATE DATA -->
      {% for gate in gateData %} <!-- LOOPS OVER ALL OF THE GATES -->
          {% if gate[2] == fiskefelleId %} <!-- IF THE GATE IS CONNECTED TO THE SELECTED FISKEFELLE -->
              <div class="col-md-3">  <!-- removed 'float-end' class -->
                  <div style="padding-top: 10px;"></div>
                  <div class="card">
                      <div class="card-header d-flex justify-content-between align-items-center">{{ gate[3] }}</div> <!-- THE NAME OF THE GATE -->
                      <div class="card-body"> 
                          <div class="list-group">
                              <form method="post" class="btnRequest">
                                  <input type="hidden" name="page_uuid" value="{{ page_uuid }}">
                                  <button class="btn btn-primary button" name="open" value="{{ gate[4] }}">Åpne port</button> <!-- THIS HAS THE NAME OF OPEN/CLOSE AND THE VALUE IS THE RELAYCHANNEL-->
                                  <button class="btn btn-danger button" name="close" value="{{ gate[4] }}">Lukk port</button> <!-- THIS HAS THE NAME OF OPEN/CLOSE AND THE VALUE IS THE RELAYCHANNEL-->
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          {% endif %}  
      {% endfor %}
    {% endif %}

      <!-- Camera/fiskefelle Container -->

<!-- Camera/fiskefelle Container -->
      <div class="col-md-3 float-end">
        <div style="padding-top: 10px;"></div>
        <div class="card">

          <div class="card-header d-flex justify-content-between align-items-center">Camera and Fiskefelle
          <!-- THIS IS THE BLUE ARROW, THAT POINTS TO THE CAMERA IP FOR FULL SCREEN-->
            <a href={{ camIp }}>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
              </svg>
            </a>
          </div>
          <div class="card-body card-body-dropdowns"> <!-- Add the new class here -->
            <div class="list-group">


                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: larger;">
                            {% set default_fiskefelle_label = "Select a Fiskefelle" %}
                            {{ default_fiskefelle_label }}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton3">
                            <form method="post">
                              <input type="hidden" name="page_uuid" value="{{ page_uuid }}">
                                {% if fiskefelleData != False and fiskefelleData != None %} <!-- IF THERE IS ANY FISKEFELLE DATA-->
                                    {% for fiskefelle in fiskefelleData %} <!-- LOOPS OVER ALL OF THE DIFFRENT FISKEFELLER-->
                                        {% if fiskefelle[0] == fiskefelleId %} <!-- IF THE FISKEFELLE IS THE SELECTED FISKEFELLE -->
                                            {% set default_fiskefelle_label = fiskefelle[2] %} <!-- UPDATES THE DEFAULT FISKEFELLE LABEL -->
                                            <script>
                                                document.getElementById("dropdownMenuButton3").innerHTML = "{{ default_fiskefelle_label }}"; // CHANGES THE TEXT SHOWN ON THE DROPDOWN
                                            </script>
                                        {% endif %} 
                                        <button type="submit" class="dropdown-item" name="fiskefelleId" value={{ fiskefelle[0] }} id={{ fiskefelle[0] }}>{{ fiskefelle[2] }}</button> <!-- THIS IS THE DROPDOWN, NOTE THE ID OF THE DROPDOWN IS THE CORELATING FISKEFELLE ID-->
                                    {% endfor %}
                                {% endif %}
                            </form>
                        </div>
                      </div>
                  


                        <div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: larger;">
                              {% set default_camera_label = "Select a Camera" %}
                              {{ default_camera_label }}
                          </button>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton2">
                              <form method="post">
                                  <input type="hidden" name="page_uuid" value="{{ page_uuid }}">
                                  {% if cameraName != False and cameraName != None %} <!-- IF THERE IS ANY CAMERA DATA AVALIBLE -->
                                    {% for camera in cameraData %}
                                        {% if camera[2] == fiskefelleId %} <!-- IF THE CAMERA IS CONNECTED TO THE SELECTED FISKEFELLE -->
                                          {% if camera[5] == camIp %} <!-- IF IT IS THE SELECTED CAMERA -->
                                              {% set default_camera_label = camera[4] %} <!-- SETS THE DEFAULT CAMERA -->
                                              <script>
                                                  document.getElementById("dropdownMenuButton2").innerHTML = "{{ default_camera_label }}"; // UPDATES THE BUTTON NAME TO THE SELECTED BUTTON NAME
                                              </script>
                                          {% endif %}
                                        <button type="submit" class="dropdown-item" name="camera" value={{ camera[0] }} id={{ camera[0] }}>{{ camera[4] }}</button>
                                        {% endif %}
                                    {% endfor %}
                                  {% endif %}
                              </form>
                          </div>
                      </div>
                  




                      
                      </div>
                  </div>
              </div>
          </div>

          <!-- RECORDING BUTTONS -->
          <div class="col-md-3">
            <div style="padding-top: 10px;"></div>
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                Recording
                <div class="indicator-container">
                  <span class="badge badge-{{ 'danger' if is_recording else 'primary' }}">{{ 'Recording' if is_recording else 'Not Recording' }}</span>
                </div>
              </div>
              
              <div class="card-body">
                <div class="list-group">
                  <form method="post" class="btnRequest">
                    <button class="btn btn-primary button" name="startRecording" value="startRecording">Start Recording</button>
                    <button class="btn btn-danger button" name="stopRecording" value="stopRecording">Stop Recording</button>
                  </form>
                </div>
              </div>   
            </div>
          </div>
      </div>







</div>

<div style="padding-top: 70vh"></div>
{% endblock %}
